/* 4 - External CSS */
body {
    padding-bottom: 1000px;
}

h3 {
    color: green;
}

/* Classes */
.paragraph {
    background-color: black;
    color: aquamarine;
    font-size: 30px;
    padding: 8px;
}

#exclusie-title {
    background-color: purple;
    color: yellow;
    font-size: 30px;
    padding: 8px;
}

/* 10 - Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 4px solid blue;
}

#algum-titulo {
    border-bottom: 6px solid green;
}

/* Nome de cores */

.colorName {
    color: crimson;
}